@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato:wght@700&family=Montserrat:wght@400;500;600&display=swap");
:root {
    --color-white: #f7f7f7;
    --color-white-2: #fcfcfc;
}
body {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
}
.App {
    min-height: 150vh;
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Wrapper {
    padding: 42px 64px;
}
@media screen and (max-width: 600px) {
    .Wrapper {
        padding: 42px 30px 0px;
    }
}

.trending {
    margin-top: 220px;
}
.trending h2 {
    font-size: 34px;
    line-height: 41.45px;
    letter-spacing: 0.25px;
    color: var(--color-white-2);
    font-weight: 600;
}
@media screen and (max-width: 900px) {
    .trending {
        margin-top: 150px;
    }
    .trending h2 {
        font-size: 26px;
        line-height: 32px;
    }
}
